.nosotros__header {
    font-family: sans-serif;
}


.about-us-container {
    display: flex;
    flex-direction: row;
}

.donation-card {
    width: 311px;
    height: 665px;
    left: 0px;
    top: 291px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #009C88;
}

.donation-img {
    border-radius: 50%;
    width: 20em;
    height: 20em !important;
    margin-top: -90px;
}

.donation-button {
    width: 100px;
    height: 50px;
    left: 70px;
    top: 811px;
    background-color: #D5B408;
    border-radius: 20px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    border-width: 0;
    padding-left: -10px;
    margin-top: 20px;
}

.donation-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin-top: auto;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.about-us-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-us-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

.about-us-text {
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

